<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
</head>
<body>
  <h1>Message details</h1>

  <p><strong>Author:</strong> <%= message.user %></p>
  <p><strong>Message:</strong> <%= message.text %></p>
  <p><strong>Added:</strong> <%= message.added.toLocaleString() %></p>

  <p><a href="/">Back to messages</a></p>
</body>
</html>
